.Modal {
    position: absolute;
    margin: auto;
    top: 15%;
    text-align: center;
    background-color: white;
    z-index: 200;
    width: 80%;
}

@media (min-width: 500px) {
    .Modal {
        width: 50%;
    }
}